In [1]:
!pip install -qqq tabula-py

In [10]:
from tabula import read_pdf
import pandas as pd

In [40]:
url = "https://concursos-publicacoes.s3.amazonaws.com/905/publico/905_Edital_009-2024_NotasPreliminares_TO_670442d552f32.pdf?idpub=499901"
tab = read_pdf(url, pages="all")

In [42]:
for i in range(len(tab)):
    tab[i] = tab[i].dropna(axis=1, how='all')
    
    assert tab[i].shape[1] == 6
    tab[i].columns = ["Nome", "Inscriçao", "Matematica", "Fundamentos da Comp", "Tecnologia da Comp", "Total"]

In [43]:
tab = pd.concat(tab, ignore_index=True)

In [44]:
tab = tab.replace("-", None)
tab = tab.dropna(subset=["Total"])

In [45]:
tab = tab.replace(",", ".", regex=True)

tab["Matematica"] = tab["Matematica"].astype(float)
tab["Fundamentos da Comp"] = tab["Fundamentos da Comp"].astype(float)
tab["Tecnologia da Comp"] = tab["Tecnologia da Comp"].astype(float)
tab["Total"] = tab["Total"].astype(float)

In [46]:
tab.describe()

       Matematica  Fundamentos da Comp  Tecnologia da Comp       Total
count  821.000000           821.000000          821.000000  821.000000
mean    11.795371            14.761267            7.721072   34.277710
std      3.712803             4.188138            2.606541    8.672544
min      2.000000             0.000000            0.000000    2.000000
25%      9.000000            12.000000            6.000000   28.000000
50%     12.000000            15.000000            8.000000   34.000000
75%     15.000000            18.000000            9.000000   41.000000
max     20.000000            26.000000           16.000000   60.000000

In [49]:
sorted = tab.sort_values("Total", ascending=False)
sorted.index = range(1, len(sorted) + 1)
sorted.index.name = "Posiçao"

flt = sorted["Nome"] == "Joao Pedro Giordani Donasolo"
sorted[flt]

,Nome,Inscriçao,Matematica,Fundamentos da Comp,Tecnologia da Comp,Total
Posiçao,,,,,,
68,Joao Pedro Giordani Donasolo,90501119166-2,18.0,19.0,10.0,47.0